.App {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
  margin: 0;
}
label {
  padding: .25em;
}
.textbox {
  margin: 1em;
  padding: .5em;
  font-size: 18px;
}